html, body{
    margin: 0px;
    height: 100%;
}
.landing{
    background-image: url(./assets/backgrounds/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-size: 24px;
    color: white;
}
#logo{
    text-align: center;
    padding-top: 10%;
}
#landingsub{
    display: flex;

}

#options{
    display: flex;
    flex-direction: column;
    width: 190%;
    text-align: center;
}

#breakfast, #lunch, #dinner{
    position: relative;
    text-align: center;
    color: white;
}
#breakfasttext, #lunchtext, #dinnertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lunch{
    background-color: white;
    opacity: 0.5;
}
#partytime{
    background-color: #F15A29;
    padding-top: 30px;
    padding-bottom: 25px;
}
#happyhour{
    margin-top: 35px;
    margin-bottom: 20px;

}

.fastfood{
    margin-top: 60px;
    text-align:left;
    display: flex;
    margin-left: 12%;
    margin-right: 20%;
}
#fastfoodimages{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px 2px gray;
    padding: 5px;
}

#fastfoodtext{
    margin-left:10%;
}

.fastfood>#fastfoodtext>h2{
    font-size: 20px;
}
.drinks{
    margin-top: 60px;
    display: flex;
    justify-content:space-between ;
    margin-left: 13%;
    margin-right: 13%;
}
#drinksimages{
    display: flex;
    box-shadow: 0px 2px 10px 2px gray;
    padding: 5px;
    margin-left: 8%;
  
}
#drinkstext{
    text-align: right;
}

.menu{
    background-image: url(./assets/backgrounds/foodsBg.jpg);
    background-repeat: no-repeat;
    padding: 10%;
    margin-top: 60px;
}
#menuitems{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}
#menuimages{
    display: flex;
    justify-content: space-evenly;
}
#menucontainer{
    background-color: white;
}
#menucaptions{
    display: flex;
    justify-content: space-evenly;
    color: #F15A29;
    font-weight:bold;
}

#border{
    display: flex;
     box-shadow: 0px 2px 10px 2px gray;
     margin-top: 5%;
     margin-left: 10%;
     margin-right: 10%;
     
}
#aboutmenu{
    border-left: 2px solid gray;
}
